/* Styles for clients list */
main table {
  width: 100%;
  padding: 0 5px;

  border-collapse: collapse;
}

main table tbody tr:hover {
  background-color: #d9d9d9;
}

main table tbody tr:hover button {
  background-color: #d9d9d9;
}

main table tbody tr {
  border-bottom: 1px solid black;
  z-index: -1;
} 

main table tr th {
  text-align: left;
}

main table tr td {
  font-size: 15px;
  padding: 5px 3px;

  cursor: pointer;
}

main table tr td button {
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

main table tr td button:hover {
  background-color: #fff;
}


