* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #ebf2f5;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

aside {
  position: fixed;
  height: 100vh;
  width: 200px;

  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  box-shadow: 1px 1px 3px 4px #e6e6e6;
  background-color: #fff;
}

aside ul li {
  margin-top: 25px;
  display: block;
}

main {
  width: 900px;
  padding: 30px 40px;
  margin: 15px 0 0 240px;

  box-shadow: 1px 1px 3px 4px #e6e6e6;
  background: #FFFFFF; 
}

